<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.UserMapper">
    <select id="getUpwdByUname" resultType="java.lang.String">
        select upwd from user where uname=#{uname}
    </select>

    <select id="getRoleByUname" resultType="java.lang.String">
        select roles from user,role where user.role_id=role.role and uname=#{uname}
    </select>

    <select id="getRoleByRoleId" resultType="java.lang.String">
        select roles from role where role=#{role}
    </select>


    <update id="editupwd" parameterType="java.lang.String">
         update user set upwd =#{upwd} where uname = #{uname}
    </update>


    <!--<select id="getUserByUid" parameterType="int" resultType="user">
        select * from user where uid=#{uid}
    </select>

    <update id="updateUser" parameterType="user">
        update user set uname=#{uname},upwd=#{upwd},role_id=#{role_id} where uid=#{uid}
    </update>-->



    <!--<select id="getsalt" parameterType="java.lang.String" resultType="java.lang.String">
    select pwd_salt from user where uname=#{uname}
</select>-->


</mapper>