<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script th:src="@{js/jquery-3.4.1.js}"></script>
    <script>
        $(function(){
            $(".delBtn").click(function(){
                var uid = $(this).attr("data");
                $.post("deleteStudent",{sid:sid},function(data){
                    if(data == "success"){
                        $("#tr" + sid).remove();
                    }else{
                        alert("删除失败");
                    }
                })
            })
        })
    </script>
</head>
<body>
<a shiro:hasRole="role1" href="addStudent">增加用户</a>
<table>
    <tr>
        <th>序号</th>
        <th>用户名</th>
        <th>密码</th>
        <th>角色</th>
        <th>操作</th>
    </tr>
    <tr th:id="tr+${student.sid}" th:each="student,var:${studentList.list}">
        <td th:text="${var.count}"></td>
        <td th:text="${student.sname}"></td>
        <td th:text="${student.ssex}"></td>
        <td th:text="${student.sage}"></td>
        <td>
            <a th:href="@{editStudent(sid=${student.sid})}" th:text="修改"></a>
            <a href="javascript:void(0)" th:data="${student.sid}" th:text="删除" class="delBtn"></a>
        </td>
    </tr>
</table>
</body>
</html>